<%- content_for :head do -%>
  <%= stylesheet_link_tag 'top' %>
<%- end -%>
<div class="top-bg"></div>
<div class="top-hero">
  <%= render 'social', url: root_url %>
  <p>写真に含まれる撮影情報などのExifデータを表示します。</p>
  <%= render 'form' %>
</div>
<div class="top-content well">
  <p>ブックマークレットを使えば、閲覧中の写真のExif情報を簡単に確認できます。</p>
  <div>
    <%- bm = "javascript:window.open('#{root_url}?url='+encodeURIComponent(location.href)).focus()" -%>
    <a href="<%= bm %>">
      <span class="label label-default">Bookmarklet</span><br>
      <span style="font-size:12px"><%= bm %></span></a>
  </div>
</div>
<p class="text-right" style="">
  <a href="https://github.com/miyamae/exifscope">Fork me on GitHub</a>
</p>
